@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class="text-center">
    <h1 class="display-4">Bookstore</h1>
    <p>Add, modify and delete books<br /></p>

</div>
<section class="main">
    <div>
        <h2>
            <br /><br /><br />Hello, and welcome to our bookstore website<br />
            
        </h2>
        <h3>login or register to edit books</h3>
        <a href="#projects" class="main-btn">Explore more</a>
        <h4>about us</h4>
        <div class="social-icons">
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/heshamoomar/BookstoreWebApp"><i class="fa-brands fa-github"></i></a>
        </div>
    </div>
</section>

<section class="cards" id="services">
    <h6 class="title">Services</h6>
    <div class="content">
        
        <div class="card">
            <div class="icon">
                <i class="fa-light fa-book"></i>
            </div>
            <div class="info">
                <h3>Browsing Books</h3>
                <p>Suspendisse sit amet accumsan sapien, 
                    vel dignissim odio. Integer in risus mi. 
                    Praesent ligula nulla, tristique id pulvinar vel,
                    pellentesque non lorem. 
                    Proin sit amet lacus aliquam sapien bibendum malesuada.</p>
            </div>
        </div>

       <div class="card">
            <div class="icon">
                <i class="fa-light fa-book"></i>
            </div>
            <div class="info">
                <h3>Browsing Books</h3>
                <p>Suspendisse sit amet accumsan sapien, 
                    vel dignissim odio. Integer in risus mi. 
                    Praesent ligula nulla, tristique id pulvinar vel,
                    pellentesque non lorem. 
                    Proin sit amet lacus aliquam sapien bibendum malesuada.</p>
            </div>
        </div>
      <div class="card">
            <div class="icon">
                <i class="fa-light fa-book"></i>
            </div>
            <div class="info">
                <h3>Browsing Books</h3>
                <p>Suspendisse sit amet accumsan sapien, 
                    vel dignissim odio. Integer in risus mi. 
                    Praesent ligula nulla, tristique id pulvinar vel,
                    pellentesque non lorem. 
                    Proin sit amet lacus aliquam sapien bibendum malesuada.</p>
            </div>
        </div>

    </div>
</section>